#count{
  color: white;
  font-size: 5vw;
  text-align: center;
}
.buttons{
  margin-left: 40vw;
}
#btn-1{
  background-color: rgb(6, 175, 6);
  height: 8vh;
  width: 10vw;
  border-radius: 1vw;
}
#btn-2{
  background-color: red;
  height: 8vh;
  width: 10vw;
  border-radius: 1vw;
}